@page "/"
@using TheMovieDB.Services
@inject TMDBClient TMDB

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" Class="ma-6">Popular Movies</MudText>

@if (movies is not null)
{
    <ul>
        @foreach (var movie in movies.Results)
        {
            <li>@movie.Title</li>
        }
    </ul>
}
else
{
    <p>Loading movies...</p>
}

@code {
    PopularMoviesPagedResponse? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await TMDB.GetPopularMoviesPagedResponseAsync();
    }
}