@page "/"
@using TheMovieDB.Pages.Components
@using TheMovieDB.Services
@inject TMDBClient TMDB

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" Class="ma-6">Popular Movies</MudText>

@if (movies is not null)
{
    <MudGrid Spacing="2" Class="px-6">
        @foreach (var movie in movies.Results)
        {
            <MudItem xs="12" sm="6" md="4">
                <PopularMovieCard Movie="@movie" />
            </MudItem>
        }
    </MudGrid>
}
else
{
    <p>Loading movies...</p>
}

@code {
    PopularMoviesPagedResponse? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await TMDB.GetPopularMoviesPagedResponseAsync();
    }
}