<div class="background">
    <div class="film-grain">
    </div>
    <div class="image-wrapper">
        <img class="loading-image" src="./images/cinemaster_logo_320_320.jpg" />
        <p class="loading-text">Loading...</p>
    </div>
</div>

@code {

}
