@page "/testpage"

<PageTitle>Colors</PageTitle>

<h3>Current Colors</h3>

<MudPaper Elevation="10">
    <MudChip>Default</MudChip>
    <MudChip Color="Color.Primary">Primary</MudChip>
    <MudChip Color="Color.Secondary">Secondary</MudChip>
    <MudChip Color="Color.Info">Info</MudChip>
    <MudChip Color="Color.Success">Success</MudChip>
    <MudChip Color="Color.Warning">Warning</MudChip>
    <MudChip Color="Color.Error">Error</MudChip>
    <MudChip Color="Color.Dark">Dark</MudChip>
    <MudDivider />
    <MudChip Disabled="true">Default</MudChip>
    <MudChip Disabled="true" Color="Color.Primary">Primary</MudChip>
    <MudChip Disabled="true" Color="Color.Secondary">Secondary</MudChip>
    <MudChip Disabled="true" Color="Color.Info">Info</MudChip>
    <MudChip Disabled="true" Color="Color.Success">Success</MudChip>
    <MudChip Disabled="true" Color="Color.Warning">Warning</MudChip>
    <MudChip Disabled="true" Color="Color.Error">Error</MudChip>
    <MudChip Disabled="true" Color="Color.Dark">Dark</MudChip>
</MudPaper>

<MudPaper Elevation="0" Height="85vh" Class="d-flex justify-center align-center"
    Style="background-color: hsl(63, 40%, 66%);">
    <MudImage Src="https://j.gifs.com/KYjYkL.gif" Class="absolute"
        Style="inset: 0; top: 10.5rem; width: 100%; height: 100%;mix-blend-mode: multiply; z-index: 1" />
    <MudImage Src="/images/cinemaster_logo_320_320.jpg" />
</MudPaper>

@code {

}
